<div class="row">
    <div id="divFoto" class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../../../assets/WhatsApp Image 2023-04-20 at 23.05.48.jpeg" alt="" class="img-fluid" id="foto">
        <div id="nombre">
            <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
            <p>full stack developer jr</p>
        </div>
    </div>

    <div id="sobre" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <span>
            <h1>Sobre mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas vel quaerat, maiores excepturi dolores
                dolor ullam perferendis. Sit, vitae autem quibusdam impedit saepe atque voluptate optio molestias
                similique sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque porro
                reiciendis esse, asperiores eos culpa quasi ab molestias quia libero earum officiis mollitia quisquam
                ratione corrupti aperiam ullam veniam?</p>
        </span>
    </div>
</div>