<div class="row">
    <div class="container">
        <div>
            <img src="../../../assets/yo programo.png" alt="Argentina Programa" id="logo">
        </div>
        <div class="redes">           
            <a href="" target="_blank"><img src="../../../assets/github.png" alt="github" class="redsocial"></a>
            <a href="" target="_blank"><img src="../../../assets/linkedin.png" alt="linkedin" class="redsocial"></a>
            <a href="" target="_blank"><img src="../../../assets/whatsapp.png" alt="whatsapp" class="redsocial"></a>
            <button type="button" class="boton" (click)="login()"><img src="./../../../assets/apagar.png" alt="" class="redsocial"></button>
            
        </div>
    </div>
    
</div>