<div class="row">
    <h1>Experiencia laboral</h1>    
    <div class="col-lg-4">
        <h1>Empresa 1</h1>
        <h3>Tiempo en el cargo</h3>
        <p>descripcion y responsabilidades del cargo---
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus delectus sapiente? Minima, labore ipsum aspernatur qui voluptatem est expedita quisquam possimus optio cupiditate. Reiciendis omnis nisi earum unde pariatur.</p>
    </div>
    <div class="col-lg-4">
        <h1>Empresa 1</h1>
        <h3>Tiempo en el cargo</h3>
        <p>descripcion y responsabilidades del cargo---
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus delectus sapiente? Minima, labore ipsum aspernatur qui voluptatem est expedita quisquam possimus optio cupiditate. Reiciendis omnis nisi earum unde pariatur.</p>
    </div>
    <div class="col-lg-4">
        <h1>Empresa 1</h1>
        <h3>Tiempo en el cargo</h3>
        <p>descripcion y responsabilidades del cargo---
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus delectus sapiente? Minima, labore ipsum aspernatur qui voluptatem est expedita quisquam possimus optio cupiditate. Reiciendis omnis nisi earum unde pariatur.</p>
    </div>
</div>